* {
  box-sizing: border-box;
  outline: none;
  user-select:none;
}

html{
  background:white;
  position:relative;
  overflow-x:hidden;
  font-size: 1.6vh;
}

body{
  margin:0px 0px;
  background:white;
  overflow:hidden;
  background: #F9FBFD;
}